/*
Daily Chores
James Black
VFW : 1305
*/

#bg {
   -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    
   
    
}

#choreList {
    background-color: black;
    margin: none;
);}
/* This is for my index page. */    
p {
    font-family: serif;
    font-size: large;
    color: #9afeff;
}
h1 {
    color: white;
    
    text-align: center;
    }

 {
    font-size: 20px;
}

li, #select, span {
    color: #ffff00;
    font-size: 16px;
}
legend {
    font-family: Garamond, sans-serif, times;
    font-size: 20px ;
    color: #ffff00;
}
  #select, ul, #choreList {
    border: none;
    background-color: transparent ;
}

nav{
    text-align: center;
}

#errors li {
    color: red;
    font-size: 16px;
}
fieldset {
    border: none;
}
